<html>

<head>
	<link rel="stylesheet" href="/style.css">
	<script src="https://code.jquery.com/jquery-3.7.1.js"
		integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous">
	</script>
</head>

<h1>Post a <em>JNote</em></h1>
<form id="noteForm">
	<h2>Title</h2>
	<input id="noteTitle" name="noteTitle" placeholder="title" size="50" />
	</br>
	<h2>Content</h2>
	<input id="noteContent" name="noteContent" placeholder="content" size="50"></input>
	</br>
	</br>
	<input type="submit" value="Post" />
</form>
<p id="message"></p>

<footer>
	<script src="/index.js"></script>
</footer>

</html>
